<script setup lang="ts">
import { useArticleStore } from "@/stores/articles";
import { computed, onMounted } from "vue";
import ArticleCard from "./ArticleCard.vue";
import DateFormat from "../../utils/DateFormat";

const articleStore = useArticleStore();

const getAllArticles = computed<any>(() => {
  return articleStore.articles;
});

onMounted(() => {
  articleStore.fetchArticles();
});
</script>

<template>
  <section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
      <h1 class="text-center font-bold mb-6 text-3xl">All Articles</h1>
      <div class="flex flex-wrap -m-4">
        <div
          class="lg:w-1/4 md:w-1/2 p-4 w-full"
          v-for="item in getAllArticles"
          :key="item"
        >
          <ArticleCard
            :title="item.title"
            :publishedAt="DateFormat(item.publishedAt)"
            :uploadedAt="DateFormat(item.updatedAt)"
            :imgSrc="item.imageUrl"
            :id="item.id"
          />
        </div>
      </div>
    </div>
  </section>
</template>
